body {
  background: #f4e5d9;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  position: relative;
  top: -40px;
}

.box {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 5% auto;
}

.head {
  position: absolute;
  left: 42.5%;
  top: 9%;
  background: #bcb359;
  width: 15%;
  height: 22%;
  border-radius: 20px;
  -webkit-animation: head-tilt 5s infinite;
  animation: head-tilt 5s infinite;
}

.neck {
  position: absolute;
  background: #bcb359;
  width: 8%;
  height: 8%;
  top: 28%;
  left: 47%;
}

.mouth {
  position: absolute;
  width: 60%;
  height: 25%;
  background: #222;
  border-radius: 10px;
  bottom: 10%;
  left: 10%;
}

.tooth {
  position: absolute;
  right: 20%;
  background: #fff;
  height: 40%;
  width: 20%;
  border-radius: 0 0 2px 2px;
}

.eye {
  position: absolute;
  background: #222;
  left: 15%;
  width: 15%;
  height: 15%;
  border-radius: 5px;
  top: 25%;
}

.glyphicon.glyphicon-remove {
  position: absolute;
  color: #222;
  left: 45%;
  top: 25%;
  font-size: 20px;
}

.hair-left {
  background: #f76d42;
  position: absolute;
  left: -20%;
  width: 38%;
  height: 25%;
  border-radius: 50%;
}
.hair-left:before {
  content: '';
  background: #f76d42;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  top: -50%;
  left: -20%;
}
.hair-left:after {
  content: '';
  background: #f76d42;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: -45%;
  left: 30%;
}

.hair-right {
  background: #f76d42;
  position: absolute;
  right: -10%;
  top: -10%;
  width: 40%;
  height: 27%;
  border-radius: 50%;
}
.hair-right:before {
  content: '';
  background: #f76d42;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 55%;
  left: 35%;
}
.hair-right:after {
  content: '';
  background: #f76d42;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 5%;
  left: 55%;
}

.nose {
  position: absolute;
  background: #ca3709;
  left: 20%;
  width: 25%;
  height: 18%;
  border-radius: 50%;
  top: 45%;
}

.body {
  position: absolute;
  width: 15%;
  height: 27%;
  border-radius: 20px;
  left: 42.5%;
  top: 32%;
}

.body-copy {
  /*from CSS3 Pattern Gallery */
  background-color: #f5da0e;
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  position: absolute;
  width: 110%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  z-index: 20;
  -webkit-animation: torso 5s infinite;
  animation: torso 5s infinite;
}
.body-copy:after {
  content: '';
  /*from CSS3 Pattern Gallery */
  background-color: #f5da0e;
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-position: 7px -11px, 30px 30px;
  position: absolute;
  width: 80%;
  height: 70%;
  left: -33%;
  bottom: 0;
  border-radius: 50% 50% 0;
}

.arm-left {
  height: 110%;
  width: 45%;
  position: absolute;
  left: 35%;
  border-radius: 0 0 50px 50px;
  background: #a19841;
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  -webkit-animation: left-arm 10s infinite;
  animation: left-arm 10s infinite;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.arm-left:after {
  content: '';
  /*from CSS3 Pattern Gallery */
  background-color: #f5da0e;
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  top: 0;
}

.arm-right {
  height: 110%;
  width: 45%;
  position: absolute;
  border-radius: 50px 50px;
  background: #bcb359;
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation: right-arm 10s infinite;
  animation: right-arm 10s infinite;
  z-index: 30;
  top: 18%;
  left: 50%;
}
.arm-right:after {
  content: '';
  /*from CSS3 Pattern Gallery */
  background-color: #f5da0e;
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  top: 0;
}

.leg-left {
  height: 120%;
  width: 45%;
  position: absolute;
  background: #1a9aa6;
  bottom: -93%;
  left: 15%;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-animation: left-leg 10s infinite;
  animation: left-leg 10s infinite;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.leg-left .shoe {
  background: #9a2906;
}

.leg-right {
  height: 120%;
  width: 45%;
  position: absolute;
  background: #21c3d2;
  background-image: radial-gradient(
      circle at 13% 55%,
      #bcb359 10%,
      transparent 10%
    ),
    radial-gradient(circle at 0% 61%, #bcb359 8%, transparent 8%);
  -webkit-animation: right-leg 10s infinite;
  animation: right-leg 10s infinite;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  bottom: -95%;
  right: 7%;
}

.shoe {
  background: #ca3709;
  position: absolute;
  height: 20%;
  width: 250%;
  top: 100%;
  right: 0%;
  border-radius: 20px 0 0 0;
}

.shadow {
  position: absolute;
  background: shade(#e8c9b2, 5%);
  border-radius: 20px;
  -webkit-animation: shadow 10s infinite;
  animation: shadow 10s infinite;
  width: 250%;
  height: 10%;
  bottom: -125%;
  left: -140%;
  margin-left: 0;
}

@-webkit-keyframes head-tilt {
  50% {
    -webkit-transform: rotate(30deg) translate(20px, -10px);
    transform: rotate(30deg) translate(20px, -10px);
  }
}

@keyframes head-tilt {
  50% {
    -webkit-transform: rotate(30deg) translate(20px, -10px);
    transform: rotate(30deg) translate(20px, -10px);
  }
}
@-webkit-keyframes left-arm {
  25% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  50%,
  75% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
}
@keyframes left-arm {
  25% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  50%,
  75% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
}
@-webkit-keyframes right-arm {
  0%,
  50% {
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}
@keyframes right-arm {
  0%,
  50% {
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}
@-webkit-keyframes left-leg {
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes left-leg {
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes right-leg {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes right-leg {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes shadow {
  25% {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
  0%,
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  75% {
    -webkit-transform: scaleX(1.3);
    transform: scaleX(1.3);
  }
}
@keyframes shadow {
  25% {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
  0%,
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  75% {
    -webkit-transform: scaleX(1.3);
    transform: scaleX(1.3);
  }
}
@-webkit-keyframes torso {
  50% {
    -webkit-transform: rotate(8deg) translateY(-5px);
    transform: rotate(8deg) translateY(-5px);
  }
}
@keyframes torso {
  50% {
    -webkit-transform: rotate(8deg) translateY(-5px);
    transform: rotate(8deg) translateY(-5px);
  }
}

.red {
  background-color: red;
}
